<div class="head-margin"></div>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
        <section class="git">
          <div class="date">
            <p class="day"><%= post.created_at.day %></p>
            <p class="year"><%= post.created_at.strftime('%Y-%m') %></p>
          </div>
          <p class="title"><%= link_to post.title, post_path(post.id) %></p>
          <p class="summary"><%= post.desc %>
        </section>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>
