<!DOCTYPE html>
<html class="admin">
<head>
  <title>骨哥的视界--后台管理</title>
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <div class="container">
        <h4><%= link_to "骨哥的视界", admin_root_path %></h4>
        <p class="navbar-text navbar-right">
          <%= link_to '注销', "#", class: 'btn-sm btn-danger' %>
        </p>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="head-margin"></div>
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="container">
        <p class="text-muted">To be simple ! To be great ! Shake the world !</p>
      </div>
    </footer>
</body>
</html>
