<!DOCTYPE html>
<html class="admin">
<head>
  <title>骨哥的视界--后台管理</title>
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <div class="container">
        <nav>
          <ul class="nav">
            <li><%= link_to "骨哥的视界", admin_root_path, id: 'title' %></li>
            <li><%= link_to '文章', admin_posts_path %></li>
            <li><%= link_to '分享', admin_posts_path %></li>
            <li><%= link_to '记录', about_path %></li>
            <li><%= link_to '学习', root_path %></li>
            <%= link_to '注销', admin_logout_path, class: 'btn-sm btn-danger navbar-right' %>
            <%= link_to '前台首页', root_path, class: 'btn-sm btn-success navbar-right' %>
          </ul>
        </nav>



      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="head-margin"></div>
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="container">
        <p class="text-muted">To be simple ! To be great ! Shake the world !</p>
      </div>
    </footer>
</body>
</html>
