<!DOCTYPE html>
<html>
<head>
  <title>骨哥的视界</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header-wrapper">
  <header class="container">
    <%= render 'layouts/header' %>
  </header>
</div>
    <%= yield %>
    <%= render 'layouts/footer' %>
</body>
</html>
